* {
  margin: 0;
  padding: 0;
}

.center {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

header.main-header {
  width: 100%;
  height: 80px;
  background: #000;
  position: fixed;
}
header.main-header .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.main-header img {
  height: 40px;
}

.main-nav ul {
  display: flex;
  gap: 20px;
}
.main-nav ul li {
  list-style: none;
}
.main-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-nav ul li.separator {
  display: inline-block;
  height: 16px;
  width: 1px;
  background: #fff;
}

/* fim do header */

/* Elementos do site */

.topdescription {
  font-size: 14px;
  text-transform: uppercase;
}

.middescription {
  font-size: 24px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}
.btn {
  padding: 16px 24px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
}

/* Começo do premimPlan */

.premiumPlan {
  background: #9bf0e1;
  padding: 30px 0;
  height: 700px;
}

.premiumPlan .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premiumPlan img {
  max-height: 400px;
}
.premiumPlan .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.premiumPlan p {
  color: #2d5eb9;
}
.premiumPlan h1 {
  color: #2d46b9;
}

.premiumPlan .btn {
  background: #2d46b9;
}

/*Começo do Free Plan*/

.freeplan {
  background-color: #323636;
  padding: 30px 0;
  height: 700px;
}

.middescription {
  color: white;
  font-size: 19px;
  margin-top: 80px;
}

.freeplan p {
  color: white;
  margin-bottom: 10px;
}

.freeplan .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #138f24;
}

.btn-blue {
  background-color: #be0ab5;
  color: white;
  padding: 16px 24px;
  margin-top: 30px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
}

/*Começo do Footer*/

.footer img {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 85px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  height: 400px;
  margin: auto;
  background-color: #020202;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #030101;
  padding: 70px 0;
  height: 500px;
}
.footer li {
  text-decoration: none;
  margin-left: 60px;
  display: inline;
  padding-right: 0px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #1a8d1a;
}

.footer ul {
  text-decoration: none;
  list-style: none;
}
.footer-col {
  width: 22%;
  padding: 10px;
}

.footer-col li {
  padding: 5px;
  margin-left: 70px;
}

.footer-col a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.footer-col a:hover {
  color: #1a8d1a;
}

.footer-col h4 {
  color: #a19c9c;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-left: 80px;
}
.social a {
  color: #7f8585;
  font-size: 64px;
}
.country {
  float: inline-end;
  margin-right: 50px;
}
.country p {
  color: #7a7e7e;
}
.country a {
  margin-left: 80px;
}
